@model UnikProjekt.Web.Models.UserViewModel

@{
    ViewData["Title"] = "EditDetails";
}

<h1>EditDetails</h1>

<form asp-action="Search" method="get">
    <div class="form-group">
        <label for="searchId">Search by ID:</label>
        <input type="text" id="searchId" name="id" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model != null)
{
    <div>
        <h4>User Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID:</dt>
            <dd class="col-sm-10">@Model.Id</dd>
            <dt class="col-sm-2">First Name:</dt>
            <dd class="col-sm-10">@Model.FirstName</dd>
            <dt class="col-sm-2">Last Name:</dt>
            <dd class="col-sm-10">@Model.LastName</dd>
            <dt class="col-sm-2">Email:</dt>
            <dd class="col-sm-10">@Model.Email</dd>
            <dt class="col-sm-2">Mobile Number:</dt>
            <dd class="col-sm-10">@Model.MobileNumber</dd>
            <dt class="col-sm-2">Mobile Street:</dt>
            <dd class="col-sm-10">@Model.Street</dd>
            <dt class="col-sm-2">Adresse nr.:</dt>
            <dd class="col-sm-10">@Model.StreetNumber</dd>
            <dt class="col-sm-2">Post nummer.:</dt>
            <dd class="col-sm-10">@Model.PostCode</dd>
            <dt class="col-sm-2">By.:</dt>
            <dd class="col-sm-10">@Model.City</dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Tilbage til listen</a>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}