@model UnikProjekt.Web.Models.UserViewModel

@{
    ViewData["Title"] = "Id";
}

<h1>Id</h1>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <form class="d-flex" asp-action="Id" asp-controller="Users" method="get">
            <input name="id" class="form-control me-1" type="search" placeholder="Search by ID" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search by ID</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <a asp-action="Index" class="text-dark">Back to List</a>
    </div>
</div>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
