@model UnikProjekt.Web.Models.DocumentViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Gå tilbage til listen</a>
</div>
